body {
	font-family: sans-serif;
	font-color: black;
}

.label-bold {
	font-size: 18px;
	font-weight: bold;
}

.label-center-up {
	text-anchor: middle;
	font-size: 18px;
}

.label-text {
	font-size: 16px;
}

/* Tooltip */
div.tooltip {
	width: 80px;
	padding: 7px;
	font: 10px sans-serif;
	font-weight: bold;
	text-align: center;
	color: #fff;
	position: absolute;
	background: rgba(0,0,0,0.7);
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
}