/*
	Evandro Scudeleti Ortigossa

	M.Sc. Student in Computer Science
	Institute of Mathematical and Computer Sciences - ICMC
	University of São Paulo - USP
	São Carlos, São Paulo, Brazil.
	
	2018. All rights reserved.
*/

body {
	font: 12px sans-serif;
	font-color: black;
}

.axis-x, .axis-y {
	font: 13px sans-serif;
	font-color: black;
}

.axis-x path, .axis-x line, 
.axis-y path, .axis-y line {
	fill: none;
	stroke: #000;
	stroke-width: 2px;
	shape-rendering: crispEdges;
}

.grid-x path, .grid-x line,
.grid-y path, .grid-y line {
	fill: none;
	stroke: lightgrey;
	opacity: 0.8;
	shape-rendering: crispEdges;
}

.label {
	font: 14px sans-serif;
	font-color: black;
	font-weight: bold;
}

.dot {
	stroke: #000;
	opacity: 0.9;
}

.dot:hover {
	stroke-width: 3px;
}

div.tooltip {
	width: 160px;
	padding: 5px;
	font: 11px sans-serif;
	font-weight: bold;
	text-align: center;
	color: #fff;
	position: absolute;
	background: rgba(0,0,0,0.7);
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
}

/* Difference Chart */
.area.above {
	fill: #e41a1c;
	opacity: 0.75;
}

.area.below {
	fill: #377eb8;
	opacity: 0.75;
}

.area.above:hover {
	opacity: 1;
}

.area.below:hover {
	opacity: 1;
}

.line {
	fill: none;
	stroke: #000;
	stroke-width: 1.5px;
}