/*
	Evandro Scudeleti Ortigossa

	M.Sc. Student in Computer Science
	Institute of Mathematical and Computer Sciences - ICMC
	University of São Paulo - USP
	São Carlos, São Paulo, Brazil.
	
	2018. All rights reserved.
*/

div.Setup1 {
	border: 1px solid #bababa;
	padding:10px 0px 0px 0px; 
	border-radius: 4px;
	width:100%;
	overflow: hidden;
}

form {
	font: 13px sans-serif;
	font-color: black;
	font-weight: bold;
}

body {
	font: 13px sans-serif;
}

.axis-x, .axisA-y, .axisB-y, .axis--y {
	font: 13px sans-serif;
	font-color: black;
}

.axis-x path, .axis-x line, 
.axisA-y path, .axisA-y line,
.axisB-y path, .axisB-y line,
.axis--y path, .axis--y line {
	fill: none;
	stroke: #000;
	stroke-width: 2px;
	shape-rendering: crispEdges;
}

.info {
	font: 14px sans-serif;
	font-color: black;
	font-weight: bold;
}

div.tooltip {
	width: 110px;
	padding: 5px;
	font: 11px sans-serif;
	font-weight: bold;
	text-align: center;
	color: #fff;
	position: absolute;
	background: rgba(0,0,0,0.7);
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
}