/*
	Evandro Scudeleti Ortigossa

	M.Sc. Student in Computer Science
	Institute of Mathematical and Computer Sciences - ICMC
	University of São Paulo - USP
	São Carlos, São Paulo, Brazil.
	
	2018. All rights reserved.
*/

form {
	font: 13px sans-serif;
	font-color: black;
	font-weight: bold;
}

label {
	display: block;
}

body {
	font: 13px sans-serif;
}

.axis-x, .axis-y {
	font: 13px sans-serif;
	font-color: black;
}

.axis-x path, .axis-x line, 
.axis-y path, .axis-y line {
	fill: none;
	stroke: #000;
	stroke-width: 2px;
	shape-rendering: crispEdges;
}

.info {
	font: 14px sans-serif;
	font-color: black;
	font-weight: bold;
}

div.tooltip {
	width: 110px;
	padding: 5px;
	font: 11px sans-serif;
	font-weight: bold;
	text-align: center;
	color: #fff;
	position: absolute;
	background: rgba(0,0,0,0.7);
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
}